.wrapper {
    position: relative;
    padding: 1.5rem;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    margin-bottom: 2rem;
}

.close {
    position: absolute;
    top: -1.25rem;
    right: -1.25rem;
}