.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.wrapper button {
    border: none;
    outline: none;
    background: none;
    color: var(--color-lightgray)
}

.wrapper button:disabled {
    color: var(--color-black)
}

.wrapper button:focus .icon{
    filter: drop-shadow(0px 0px 1px var(--color-lightgray));
}

.divider {
    height: 2.5rem;
    width: 2px;
    background-color: var(--color-black);
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
}