.teacher {
	background-color: #56ffa6;
	color: #161616;
}

.student {
	color: #56ffa6;
	border: 0.05rem solid #56ffa6;
}

.other {
	background-color: lightgray;
}

.role {
	text-transform: uppercase;
	font-size: 0.75rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
}
